.goal {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-bottom: 1px solid #ccc;
}

.goal__title {
    margin-right: 30px;
    flex: 1;
    min-width: 20px;
    word-break: break-all;
}

.goal__description {
    margin-right: 30px;
    flex: 3;
    word-break: break-all;
}

.goal__update__delete {
    display: flex;
}